<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>VARIABLE.HTML</h1>  
        <h2> His first name was {{first_name|capfirst}}</h2>
        <h2> the sum total list is  {{some_list.1}}</h2> 
         {% for item in some_list %}<ul>
          <li>  {{item}}  </li>
            {% if item == 2 %}
              <li>  {{two}}  </li>
          {% else %}
           <li>  {{item}}  </li>
          {% endif %}
        </ul>
        {% endfor %}
      {% if user_login  %}
      <h2> welcome back bro</h2>
      {% endif %}
        <h1>EXAMPLE TEMPLATE </h1>
        
	<script src="index.js"></script>
  </body>
</html>

