{% if form.errors %}
   <p>Your Username and Password is incorrect. Please Try again</p>

{% endif %}


{% if next %}
   {% if user.is_authenticated %} 
        <p>You Don't have permission for this page</p>

     {% else %}
        <p>Please Login to see the page</p>
     {% endif %}

{% endif %}


<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}

    {{ form.password.label_tag }}
    {{ form.password }}

    <input type="submit" value='login'>
    <input type="hidden", name='next', value="{{next}}">
</form>