<h1>Welcome to school app Home</h1>
<ul> 

   <li>

      <a href= "{% url 'thank_you' %}" > Thank you page link</a>
   </li>

   <li>

      <a href= "{% url 'contact_us' %}" > Contact Us Here</a>
 </li>

</li>

<li>

   <a href= "{% url 'create_teacher' %}" > Teacher Details</a>
</li>
<li>

    <a href= "{% url 'teacher_list' %}" > Teacher View</a>
 </li>

</ul>


