<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Teacher View</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1> List of Teacher (Teacher View)</h1>
        <ul>
            {% for teacher in teacher_list %}
            <li> <a href="/classroom/teacher_update/{{teacher.id}}">{{teacher.first_name|upper}}   {{teacher.last_name|upper}} {{teacher.subject|upper}}</li>
            
            <ul>
                <li>
                     <a href="/classroom/teacher_edit/{{teacher.id}}">  Update Teacher Information for {{teacher.first_name|upper}}  
                         </li>
            </ul>

            <ul>
                <li>
                     <a href="/classroom/teacher_delete/{{teacher.id}}">  Delete Teacher Information for {{teacher.first_name|upper}}  
                         </li>
            </ul>
            {% endfor %}
        </ul>
        <script src="" async defer></script>
    </body>
</html>