<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Base</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h2>above the block</h2>  


         {% block content  %}
         
         
         {% endblock content  %}


        <h1> below the block {{first_name|capfirst}}</h1>
        
	<script src="index.js"></script>
  </body>
</html>